{% extends 'home.html' %}
{% block contents %}

 <a href="{% url 'home' %}" class="list-group-item ">
    系统管理栏
  </a>
  <a href="{% url 'maker_student' %}" class="list-group-item">学生信息查看</a>
  <a href="{% url 'maker_teacher' %}" class="list-group-item">教师信息查看</a>
  <a href="{% url 'department' %}" class="list-group-item">院系查看</a>
  <a href="{% url 'major' %}" class="list-group-item active">专业查看</a>
  <a href="{% url 'classes' %}" class="list-group-item ">课程查看</a>
                {% endblock %}
{% block content %}
     <form class="navbar-form navbar-left" method="POST" action="{% url 'major' %}">
        <div class="form-group">
            <a href="{% url 'add_major' %}" class="btn btn-danger">添加</a>
            {% if major_obj %}
                <input type="text" class="form-control" name="major_name1" placeholder="请输入你要查找的专业名称" value="{{ major_obj.major_name }}">
            {% else %}
                <input type="text" class="form-control" name="major_name1" placeholder="请输入你要查找的专业名称">
            {% endif %}

        </div>
        <button type="submit" class="btn btn-default">查找</button>
        <span style="color: red">{{ errmsg }}</span>
    </form>
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>专业名称</th>
                <th>负责人</th>
                <th>所属院系</th>
                <th>操作</th>

            </tr>
        </thead>
        <tbody>
        {% if major_queryset %}
            {% for major_obj in major_queryset %}
            {% if major_obj.isdeleted == 0 %}
             <tr>
                <td>{{ major_obj.major_name }}</td>
                <td>{{ major_obj.major_teacher }}</td>
                {% for department_obj in department_queryset %}
                    {% if major_obj.department_id == department_obj.id %}
                        <td>{{department_obj.dm_name}}</td>
                    {% endif %}
                {% endfor %}

                <th>
                    <a href="{% url 'update_major' major_obj.id%} " class="btn btn-primary btn-xs">编辑</a>
                    <a href="{% url 'delete_major' major_obj.id %}" class="btn btn-primary btn-xs">删除</a>
                </th>
            </tr>
            {% endif %}
            {% endfor %}
        {% else %}
            {% if major_obj.isdeleted == 0 %}
             <tr>
                <td>{{ major_obj.major_name }}</td>
                <td>{{ major_obj.major_teacher }}</td>
                {% for department_obj in department_queryset %}
                    {% if major_obj.department_id == department_obj.id %}
                            <td>{{department_obj.dm_name}}</td>
                    {% endif %}
                {% endfor %}
                <th>
                    <a href="{% url 'update_major' major_obj.id%} " class="btn btn-primary btn-xs">编辑</a>
                    <a href="{% url 'delete_major' major_obj.id %}" class="btn btn-primary btn-xs">删除</a>
                </th>
            </tr>
            {% endif %}

        {% endif %}


        </tbody>

    </table>

{% endblock %}