{% extends 'tea_home.html' %}

{% block content %}
     <h1 class="text-center">个人密码修改</h1>
    <form action="" method="POST">
        <p>教师密码
            <input type="text" name = "password" class="form-control" value="{{ teacher_obj.password }}">
            <span style="color: red">{{ s }}</span>
        </p>
            <input type="submit" class="btn btn-danger btn-block" value="修改" >
            <a href="{% url 'tea_home' %}" class="btn btn-danger btn-block">返回</a>
    </form>
{% endblock %}