{% extends 'home.html' %}

{% block content %}

    <h1 class="text-center">学生信息编辑</h1>
    <form action="" method="POST">
        <p>学号
            <input type="text" name = "stu_id" class="form-control" value="{{ student_obj.stu_id }}">
        </p>
        <p>学生姓名
            <input type="text" name = "stu_name" class="form-control" value="{{ student_obj.stu_name }}">
        </p>
        <p>学生性别
            <input type="text" name = "stu_sex" class="form-control" value="{{ student_obj.stu_sex }}">
        </p>
        <p>学生手机号
            <input type="text" name = "stu_phone" class="form-control" value="{{ student_obj.stu_phone }}">
        </p>
        <p>学生地址
            <input type="text" name = "stu_address" class="form-control" value="{{ student_obj.stu_address }}">
        </p>
        <p>出生日期
            <input type="date" name = "stu_birthday" class="form-control" {{ student_obj.stu_birthday }}>
        </p>

        <p>学生院系
            <select name="department_id">
            {% for department_obj in department_queryset %}
                {% if department_obj.id == major_obj.department_id %}
                    <option value= "{{ department_obj.id }}" selected>{{ department_obj.dm_name }}</option>
                {% else %}
                    <option value= "{{ department_obj.id }}">{{ department_obj.dm_name }}</option>
                {% endif %}
            {% endfor %}
            </select>
            学生专业
            <select name="major_id">
            {% for major_obj in major_queryset %}
                {% if major_obj.id == classes_obj.major_id %}
                    <option value= "{{ major_obj.id }}" selected>{{ major_obj.major_name }}</option>
                {% else %}
                    <option value= "{{ major_obj.id }}">{{ major_obj.major_name }}</option>
                {% endif %}
            {% endfor %}
            </select>
        </p>
{#        <p>学生课程#}
{#            <input type="text" name = "stu_class_id" class="form-control">#}
{#        </p>#}
             <input type="submit" class="btn btn-danger btn-block" value="编辑">
        <a href="{% url 'maker_student' %}" class="btn btn-danger btn-block">返回</a>

    </form>
{% endblock %}